In [6]:
import pandas as pd

# 絶対パスを使用する例
df = pd.read_excel(r'C:\Users\user.DESKTOP-89OCUK7\Desktop\Rino\VSCode\code\試験勉強\ライブラリ\pandas\Excel test.xlsx')

# データフレームの表示
display(df)

    名前  年齢 血液型    誕生日
0  スーズ  52   o  45796
1  レトロ  57   a  45729
2  クリス  97   b  45870
3  キティ   0  ab  45811